/*

MEDIA QUERY MANAGER

0 - 600 PX PHONE
600 - 900 PX TABLET
900 - 1200 PX TABLET LANDSCAPE
[1200 - 1800] NORMAL STYLES APPLY
1800  + bIG DESKTOP
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*   @include respond(tab-land) {
    font-size: 56.2%; //1 rem = 9px   9px/16px = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; //1 rem = 8px   8px/16px = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px, 12px/16px = 75px
  } */ }

body {
  padding: 2rem;
  box-sizing: border-box;
  font-family: "Lato"; }

::selection {
  background-color: #0ebd65;
  color: white; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30%); }
  80% {
    transform: translateX(5%) rotate(0deg); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(5%); }
  80% {
    transform: translateX(-30%); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 3s; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    /*   animation-iteration-count: 3; */
    /*   animation-delay: 3s; */ }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.5); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  color: #544e4e;
  text-transform: uppercase; }

.paragraph {
  color: #544e4e;
  font-size: 1.3rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

/*

MEDIA QUERY MANAGER

0 - 600 PX PHONE
600 - 900 PX TABLET
900 - 1200 PX TABLET LANDSCAPE
[1200 - 1800] NORMAL STYLES APPLY
1800  + bIG DESKTOP
*/
.section-about {
  background-color: #f7f4f4;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.801)), url(../img/nat-4.jpg);
  background-size: cover;
  margin-top: -11.5rem;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f4f4;
  padding: 25rem 0 5rem 0;
  margin-top: -18vh; }

.section-stories {
  padding: 15rem 0;
  position: relative;
  padding: 25rem 0 30rem 0;
  margin-top: -20vh; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.801)); }
  .section-book .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0) 50%), url("../../img//nat-10.jpg");
    background-size: cover;
    height: 50rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5); }
    .section-book .book__form {
      width: 50%;
      padding: 6rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  animation: moveInBottom;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: backwards; }

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #089744;
  color: white; }
  .btn--green::after {
    background-color: #0b7939; }

.btn:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s; }

.btn:hover:after {
  transform: scaleX(1.5) scaleY(1.8);
  opacity: 0; }

.btn-text {
  font-size: 1.5rem; }
  .btn-text:link, .btn-text:visited {
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #55c57a;
    padding: 3px;
    transition: all 0.4s; }
  .btn-text:hover {
    color: white;
    background-color: #55c57a;
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  .btn-text:active {
    transform: translateY(0);
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.4); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.801)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* https://bennettfeely.com/clippy/ */
  /* Great Page For Creating Polygons */ }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( (2 * (100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( (3 * (100% - 3 * 6rem) / 4) + 2 * 6rem); }

.composition {
  position: relative;
  z-index: 10; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    position: absolute;
    transition: all 0.4s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.1);
      box-shadow: 0 1.7rem 5rem rgba(0, 0, 0, 0.9);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.8); }

.feature-box {
  background-color: white;
  opacity: 0.8;
  font-size: 1.5rem;
  padding: 2rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: all 0.2s; }
  .feature-box__icon {
    font-size: 5rem;
    margin-bottom: 4rem;
    display: inline-block; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.05); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    height: 50rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 4px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5); }
    .card__side--front {
      background-color: white;
      perspective: 150rem; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, rgba(255, 230, 0, 0.72), rgba(255, 145, 0, 0.72)); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, rgba(95, 206, 123, 0.55), rgba(8, 80, 20, 0.55)); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, rgba(106, 126, 238, 0.55), rgba(22, 141, 238, 0.55)); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    /*     background-blend-mode: normal; */ }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 230, 0, 0.55), rgba(255, 145, 0, 0.55)), url("../img/nat-5.jpg"); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, rgba(95, 206, 123, 0.55), rgba(8, 80, 20, 0.55)), url("../img/nat-6.jpg"); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, rgba(106, 126, 238, 0.55), rgba(22, 141, 238, 0.55)), url("../img/nat-7.jpg"); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    color: white;
    width: 50%; }
  .card__heading-span--1 {
    background-image: linear-gradient(to right bottom, rgba(255, 230, 0, 0.85), rgba(255, 145, 0, 0.85)); }
  .card__heading-span--2 {
    background-image: linear-gradient(to right bottom, rgba(95, 206, 123, 0.95), rgba(8, 80, 20, 0.95)); }
  .card__heading-span--3 {
    background-image: linear-gradient(to right bottom, rgba(106, 126, 238, 0.95), rgba(22, 141, 238, 0.95)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.btn-all-tours {
  margin-top: 5rem; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 6rem;
  transform: skewX(-12deg); }
  .story > * {
    transform: skewX(12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50%);
    clip-path: circle(45%);
    position: relative; }
  .story-header {
    margin-bottom: 2rem; }
  .story__image {
    height: 100%; }
  .story__caption {
    color: white;
    font-size: 1.7rem;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__image {
    opacity: 0.6;
    filter: blur(3px) brightness(50%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  z-index: -1;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: inherit;
  display: block;
  width: 90%; }

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid #55c57a; }
  .form__input:focus::-webkit-input-placeholder {
    color: #55c57a; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 0.7rem;
  margin-left: 2rem;
  display: block; }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative; }

.form__radio-input {
  font-size: 1.6rem;
  display: none; }

.form__radio-button {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -2rem;
  border: 4px solid black; }
  .form__radio-button:after {
    content: "";
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    position: absolute;
    top: 0.6rem;
    left: 0.6rem;
    background-color: black;
    transform: translate(-50%, -50%);
    opacity: 0; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.footer-container {
  background-color: #242323;
  padding: 10rem;
  font-size: 1.4rem;
  color: white; }

.footer__logo {
  width: 15rem;
  height: auto; }

.footer__navigation, .footer__copyright {
  border-top: 1px solid #d8d6d6;
  padding-top: 3rem;
  text-align: center; }

.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem; }

.footer__list {
  list-style: none; }

.footer__item {
  display: inline-block; }
  .footer__item:not(:last-child) {
    margin-right: 1.5rem; }

.footer__link:link, .footer__link:visited {
  color: #cec0c0;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
  backface-visibility: hidden; }

.footer__link:hover, .footer__link:active {
  color: #5bb658;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  font-weight: 700;
  font-size: 1.6rem;
  transform: rotate(5deg);
  padding: 0.3rem; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transition: all 0.1s; }
  .navigation__button--text {
    text-align: center;
    transform: translateY(50%);
    font-size: 1.6rem;
    color: #5c5858; }
    .navigation__button--text:hover {
      color: #7ed56f; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  background-image: radial-gradient(#7ed56f, #28b485);
  transition: transform 1s; }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 1s; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 2rem; }

.navigation__link:link, .navigation__link:visited {
  padding: 1rem 2rem;
  font-size: 3rem;
  font-weight: 300;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 50%, white 50%);
  background-size: 230%;
  transition: all 0.6s;
  display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #28b485;
  font-weight: 500;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.popup {
  -webkit-backdrop-filter: blur(30px);
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3000;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__close {
    text-decoration: none;
    font-size: 2.6rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: black; }
  .popup__content {
    background-color: white;
    z-index: 3500;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    display: table;
    overflow: hidden; }
  .popup__left {
    width: 33%;
    display: table-cell; }
  .popup__right {
    width: 67%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    column-count: 2;
    column-gap: 5rem;
    column-rule: 1px solid #62cc4d;
    hyphens: auto; }
